# Mac System Files
.DS_Store

# Large Datasets (Too big for GitHub)
Fake.csv
Real.csv
dataset/

# Test Images & OCR Uploads (Privacy)
uploads/
*.jpg
*.png
*.jpeg

# Python Technical Files
__pycache__/
*.pyc